.title-slide { /* Inserting R-Ladies logo at (0,0) @apreshill */
  background-image: url("https://github.com/rladies-eastlansing/meetup-presentations_east-lansing/blob/master/logos-qrcode/RLadiesEastLansing-sq.png?raw=true");
  background-position: 0% 0%;
  background-size: 100px;
  background-color: #562457;
}

.title-slide .remark-slide-number { /* Removing title slide number @yihui */
  display: none;
}

@media print { /* Trying to get PDF printing to work! @apreshill */
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
  body {
      font-family: 'Lato', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif; 
  }
}

div.my-footer img { /* Trying to insert the R-Ladies logo (0,100) of all slides @utdrmac */
	height: 50px;
	bottom: 0px;
	left: 0px;
	position: fixed;
}